:root {
  --white: #ffffff;
  --black: #01020a;
  --tile: #108c89;
  --botanic: rgb(18, 72, 68);
  --photon: #88e3e1;
  --smoky: #272930;
  --transition: 0.3s ease-in-out;
}

body {
  font-family: "Exo 2", sans-serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--black);
}

ul {
  padding-left: 0;
  list-style: none;
  margin-top: 0;
  margin-bottom: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

h1,
h2,
h3,
h4,
h5,
h6,
p,
figure,
blockquote {
  margin: 0;
}

a {
  color: currentColor;
  text-decoration: none;
}

button {
  cursor: pointer;
  font: inherit;
  appearance: none;
  border: 0;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  width: 100%;
  padding: 0 15px;
  margin: 0 auto;
}

.show {
  opacity: 1;
  transition: opacity var(--transition);
}

.hide {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  width: 0;
  height: 0;
  overflow: hidden;
  transition-delay: 0.5s;
}

.is-hidden {
  visibility: hidden;
  opacity: 0;
  pointer-events: none;
}

body.lock {
  overflow: hidden;
}
/* --------------------------------header-------------------------------- */

.header {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  padding: 15px 0;
  z-index: 99;
  transition: all var(--transition);
}

.header.sticky {
  background-color: rgba(18, 83, 79, 0.942);
  /* padding: 5px 0; */
}

.logo > img {
  width: 115px;
  height: 30px;
}

.header-container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header-menu-list {
  display: none;
}

.mob-menu-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.header-menu-link,
.mob-menu-link {
  font-weight: 600;
  line-height: 1;
  transition: color var(--transition);
  position: relative;
}

.header-menu-link::before,
.mob-menu-link::before {
  position: absolute;
  content: "";
  display: block;
  bottom: -8px;
  height: 3px;
  right: 0;
  left: 0;
  background-color: var(--photon);
  transform: scaleX(0);
  transition: transform var(--transition);
}

.header-menu-link:is(:hover, :focus, :active)::before,
.mob-menu-link:is(:hover, :focus, :active)::before {
  transform: scaleX(1);
}

.header-menu-link:is(:hover, :focus, :active),
.mob-menu-link:is(:hover, :focus, :active) {
  color: var(--photon);
}

.header-menu-link.active,
.mob-menu-link.active {
  color: var(--photon);
}

.header-menu-link.active::before,
.mob-menu-link.active::before {
  transform: scaleX(1);
}

.menu-icon {
  display: block;
  width: 30px;
  height: 18px;
  position: relative;
  z-index: 5;
  cursor: pointer;
  background-color: transparent;
}

.menu-icon span {
  position: absolute;
  top: calc(50% - 1px);
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #fff;
  -webkit-transition: all 0.2s;
  transition: all 0.2s;
}

.menu-icon span:first-child {
  top: 0;
}
.menu-icon span:last-child {
  top: auto;
  bottom: 0;
}

.menu-icon.active span {
  -webkit-transform: scale(0);
  transform: scale(0);
}
.menu-icon.active span:first-child {
  -webkit-transform: rotate(-45deg);
  transform: rotate(-45deg);
  top: calc(50% - 1px);
}
.menu-icon.active span:last-child {
  -webkit-transform: rotate(45deg);
  transform: rotate(45deg);
  bottom: calc(50% - 1px);
}

.mob-menu-link {
  font-size: 18px;
}

.mob-btn-close {
  background-color: transparent;
  border: none;
  margin-left: auto;
  display: block;
  margin-bottom: 80px;
}

.mob-btn-close svg {
  stroke: #ffffff;
  fill: #ffffff;
  transition: fill var(--transition), stroke var(--transition);
}

.mob-btn-close > svg:is(:hover, :focus) {
  fill: var(--photon);
  stroke: var(--photon);
}

.mob-backdrop {
  position: fixed;
  z-index: 2;
  width: 100vw;
  height: 100vh;
  top: 0;
  right: -110%;
  background-color: rgba(1, 2, 10, 0.556);
  transition: right var(--transition);
}

.mob-menu {
  position: fixed;
  top: 0;
  width: 100vw;
  height: 100vh;
  overflow: auto;
  background-color: rgba(0, 0, 0, 1);
  padding: 25px 20px 40px 40px;
  transition: right var(--transition);
}

.mob-backdrop.active {
  right: 0;
}

.mob-menu::before {
  position: absolute;
  content: "";
  z-index: -1;
  width: 60vw;
  height: 100vh;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  background-color: var(--tile);
  filter: blur(140px);
}
/* --------------------------------hero-------------------------------- */

.hero {
  height: 100vh;
  position: relative;
}

.hero::before,
.services::before,
.reviews::before {
  position: absolute;
  content: "";
  z-index: -1;
  min-width: 320px;
  height: 670px;
  top: 110px;
  left: 0;
  right: 0;
  margin: 0 auto;
  display: block;
  background-color: var(--tile);
  filter: blur(220px);
}

.hero-inner {
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}
.hero-content {
  max-width: 775px;
}

.hero-title {
  font-family: Open Sans, sans-serif;
  font-size: 50px;
  font-weight: 700;
  margin-bottom: 40px;
}

.hero-text {
  font-size: 16px;
  margin-bottom: 20px;
}

.hero-btn,
.social-link,
.btn-up {
  display: block;
  position: absolute;
  bottom: 10%;
  width: 70px;
  height: 70px;
  border-radius: 50%;
  background-color: rgba(18, 72, 68, 0.75);
  border: 10px solid rgba(18, 72, 68, 0.5);
  outline: 10px solid rgba(18, 72, 68, 0.25);
  background-clip: content-box;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color var(--transition),
    border-color var(--transition) 100ms, outline-color var(--transition) 200ms;
}

.hero-btn:is(:hover, :focus),
.social-link:is(:hover, :focus),
.btn-up:is(:hover, :focus) {
  background-color: rgba(0, 255, 191, 0.75);
  border-color: rgba(0, 255, 191, 0.5);
  outline-color: rgba(0, 255, 191, 0.25);
}

.hero-btn > svg {
  fill: transparent;
  stroke: #829eb67f;
  transition: stroke var(--transition) 250ms;
}

.hero-btn:is(:hover, :focus) > svg {
  stroke: #f97604cc;
}

/* .hero-btn::before {
  content: "";
  min-width: 35px;
  height: 35px;
  background-image: url(../img/icon-mouse.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: contain;
} */

/* --------------------------------about-------------------------------- */

.about,
.reviews,
.works,
.contacts {
  padding: 60px 0;
}

.title {
  font-family: Open Sans, sans-serif;
  font-size: 32px;
  font-weight: 700;
  line-height: 1.3;
  text-align: center;
  margin-bottom: 40px;
}

.about-text p:not(:last-child) {
  margin-bottom: 20px;
}

/* --------------------------------services-------------------------------- */

.services {
  position: relative;
}

.services::before {
  opacity: 0.65;
  top: 150px;
  height: 1620px;
}

.services-list,
.works-list {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  gap: 15px;
}

.services-item {
  padding: 20px 15px 20px;
  border-radius: 40px;
  max-width: 320px;
  max-height: 337px;
  box-shadow: 0 0 25px 0 transparent;
  transition: background-color var(--transition), box-shadow var(--transition);
}

.services-item::before {
  content: "";
  width: 50px;
  height: 50px;
  border-radius: 15px;
  background-color: rgb(253, 190, 59);
  display: block;
  margin-bottom: 20px;
  background-image: url(../img/icon-logos.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 25px;
  transition: transform var(--transition) 150ms;
}

.services-item:is(:hover, :focus)::before {
  transform: translateX(110px);
}
.dev::before {
  background-image: url(../img/icon-dev.svg);
  background-color: rgb(255, 118, 66);
}

.marketing::before {
  background-image: url(../img/icon-marketing.svg);
  background-color: rgb(218, 162, 44);
}

.branding::before {
  background-image: url(../img/icon-brand.svg);
  background-color: rgb(246, 163, 100);
}

.startups::before {
  background-image: url(../img/icon-startup.svg);
  background-color: rgb(33, 150, 243);
}

.motion::before {
  background-image: url(../img/icon-motion.svg);
  background-color: rgb(52, 186, 170);
}

.services-subtitle {
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 700;
  line-height: 1;
  margin-bottom: 20px;
}

.services-text {
  color: rgb(172, 172, 172);
  font-size: 14px;
  margin-bottom: 20px;
}

.services-more {
  display: flex;
  align-items: center;
  width: fit-content;
  margin-left: auto;
  color: transparent;
  font-size: 14px;
  text-align: right;
  transition: all var(--transition);
}

.services-more:is(:hover, :focus) {
  color: #f97604cc;
}

.services-more > svg {
  stroke: transparent;
  fill: transparent;
  margin-left: 20px;
  transform: translateX(-5px);
  transition: transform var(--transition), stroke var(--transition);
}

.services-more:is(:hover, :focus) > svg {
  stroke: #f97604cc;
  transform: translateX(-10px);
}

/* .services-more:after {
  content: "";
  display: inline-block;
  vertical-align: middle;
  width: 16px;
  height: 16px;
  background-image: url(../img/icon-arrow.svg);
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
  margin-left: 20px;
  transition: transform var(--transition);
} */

.services-more:is(:focus, :hover):after {
  transform: translateX(-10px);
}

.services-item:hover {
  background-color: var(--black);
  box-shadow: 0 0 25px 0 var(--tile);
}

.services-item:hover .services-more {
  color: #f97604cc;
}

.services-item:hover .services-more > svg {
  stroke: #f97604cc;
}

/* --------------------------------works-------------------------------- */

.sort-btn-list {
  display: flex;
  gap: 15px;
  margin-bottom: 50px;
  justify-content: center;
}

.works-btn {
  color: rgb(172, 172, 172);
  font-size: 14px;
  line-height: 1.2;
  padding-bottom: 5px;
  background-color: transparent;
  border-bottom: 5px solid transparent;
  transition: color var(--transition), border-color var(--transition);
}

/* .sort-btn::after {
  content: "";
  width: 100%;
  height: 5px;
  display: block;
  background-color: transparent;
  margin-top: 5px;
} */

.works-btn:hover,
.works-btn.is-active {
  color: var(--photon);
  border-color: var(--photon);
}

/* .sort-btn:is(:active, :focus).sort-btn::after {
  background-color: var(--photon);
} */

.works-list {
  gap: 30px;
  margin-bottom: 70px;
}

.works-content {
  padding: 25px 15px;
  background-color: var(--smoky);
  border-bottom-right-radius: 15px;
  border-bottom-left-radius: 15px;
}

.works-title {
  font-family: Open Sans, sans-serif;
  font-size: 20px;
  font-weight: 700;
  line-height: 1.3;
  margin-bottom: 5px;
}

.works-desc {
  color: rgb(172, 172, 172);
  line-height: 1.3;
}

.btn {
  background-color: var(--photon);
  border-radius: 35px;
  padding: 20px 35px;
  color: var(--black);
  font-size: 18px;
  font-weight: 600;
  line-height: 1;
  display: block;
  margin: 0 auto;
  transition: color var(--transition), background-color var(--transition);
}

.btn:is(:hover, :focus) {
  background-color: var(--tile);
  color: var(--white);
}

/* --------------------------------reviews-------------------------------- */

.reviews {
  position: relative;
}

.reviews::before {
  opacity: 0.65;
  top: 25px;
}

.reviews-slider {
  padding: 0 30px;
}

.reviews-list {
  margin-bottom: 70px;
}

.reviews-card {
  position: relative;
  max-width: 320px;
  height: 260px;
  background-color: var(--black);
  border-radius: 30px;
  padding: 40px 25px;
  display: flex;
  flex-wrap: wrap;
  gap: 25px 30px;
}

.reviews-img {
  border-radius: 50%;
  width: 60px;
  height: 60px;
}

.reviews-info {
  position: absolute;
  top: 50px;
  left: 95px;
}

.reviews-name {
  font-size: 16px;
  font-weight: 600;
  line-height: 1.22;
}

.reviews-position {
  color: rgb(172, 172, 172);
  font-size: 14px;
  line-height: 1.2;
}

.reviews-text {
  font-size: 12px;
  font-weight: 300;
  line-height: 1.2;
  font-style: italic;
}

.review-button-prev,
.review-button-next {
  z-index: 99;
  position: absolute;
  top: 50%;
  transform: translateY(-150%);
  min-width: 35px;
  height: 35px;
  border-radius: 50%;
  background-color: var(--tile);
  border: 1px solid var(--black);
  box-shadow: 0px 4px 40px 0px rgba(0, 0, 0, 0.1);
  background-position: center;
  background-repeat: no-repeat;
  background-size: 10px 10px;
  display: block;
}

.review-button-prev {
  background-image: url(../img/icon-arrow-left.svg);
  left: 12px;
}

.review-button-next {
  background-image: url(../img/icon-arrow-right.svg);
  right: 12px;
}

.review-button-prev:is(:hover, :focus),
.review-button-next:is(:hover, :focus) {
  background-color: var(--photon);
  stroke: var(--black);
}

.reviews-dots {
  display: flex;
  gap: 10px;
  justify-content: center;
}

.reviews-dot {
  min-width: 15px;
  height: 15px;
  border-radius: 50%;
  background-color: var(--tile);
  cursor: pointer;
}

.reviews-dot-active {
  background-color: var(--photon);
}

.swiper-slide {
  opacity: 0;
  transition: opacity var(--transition);
}

.swiper-slide-active {
  opacity: 1;
}

/* --------------------------------contacts-------------------------------- */

.contacts-wrapper {
  max-width: 320px;
  max-height: 595px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  border-radius: 30px;
  background: rgba(255, 255, 255, 0.1);
  padding: 40px 20px;
  margin-bottom: 60px;
}

.form-group {
  gap: 10px;
  display: flex;
  flex-direction: column;
  margin-bottom: 30px;
}

.form-group label {
  color: rgb(172, 172, 172);
  font-size: 18px;
  line-height: 1;
}

.form-group input {
  padding: 15px;
  border: 2px solid #ffffff;
  border-radius: 15px;
  background-color: transparent;
  color: rgba(249, 118, 4, 1);
  font-size: 16px;
  line-height: 1;
  outline: 2px solid transparent;
  transition: border var(--transition), outline var(--transition);
}

.form-group input:focus {
  border: 2px solid #f97604cc;
  outline: 2px solid rgba(249, 118, 4, 0.8);
}

.form-group input::placeholder {
  color: rgba(255, 255, 255, 0.5);
  font-size: 16px;
  line-height: 1;
  transition: color var(--transition);
}

.form-group input:focus::placeholder {
  color: #f97604cc;
}

.social-list {
  display: flex;
  gap: 35px;
  justify-content: center;
}

.social-link {
  position: initial;
  width: 50px;
  height: 50px;
  background-color: rgba(18, 72, 68, 1);
  border: 10px solid rgba(18, 72, 68, 0.5);
  outline: 10px solid rgba(18, 72, 68, 0.25);
  background-clip: content-box;
  transition: background-color var(--transition),
    border-color var(--transition) 100ms, outline-color var(--transition) 200ms,
    stroke var(--transition) 250ms, fill var(--transition) 250ms;
}

.social-link > svg {
  width: 16px;
  height: 16px;
}

.linkedin,
.facebook,
.instagram {
  stroke: #108c89;
  fill: #108c89;
}

.linkedin:is(:hover, :focus) {
  stroke: #ffffff;
  fill: #ffffff;
}

.facebook:is(:hover, :focus) {
  stroke: #1e00ff;
  fill: #1e00ff;
}

.instagram:is(:hover, :focus) {
  stroke: #ff00007e;
  fill: #fd0000;
}

/* --------------------------------footer-------------------------------- */

.footer {
  padding: 20px 0;
  background-color: rgb(39, 41, 48);
  text-align: center;
}

.btn-up {
  position: fixed;
  bottom: 30px;
  right: 20px;
  width: 40px;
  height: 40px;
  background-color: rgba(18, 72, 68, 0.75);
  border: 8px solid rgba(18, 72, 68, 0.5);
  outline: 8px solid rgba(18, 72, 68, 0.25);
}

.btn-up > svg {
  width: 14px;
  height: 14px;
  fill: #108c89;
  transition: fill var(--transition) 250ms;
}

.btn-up:is(:hover, :focus) > svg {
  fill: #f97604cc;
}
